* {
    font-family: "SF Pro Text", "JetBrainsMono Nerd Font"; 
    font-weight: 600; 
    font-size: 16px;
}

tooltip {
    border-radius: 6px;
    padding: 20px;
    background-color: #2e2e32;
}

tooltip label {
    padding: 8px;
}

window#waybar {
    background-color: rgba(14,14,14,0.85);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces {
    padding-left: 4px;
}


#workspaces button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    /* margin-top: 4px; */
    /* margin-bottom: 4px; */
    /* background-color: #201f1e; */
    /* padding-left: 15px; */
    /* padding-right: 15px; */
}

#workspaces button:hover {
    background-color: #6f6f72;
}

#workspaces button.focused, #workspaces button.active {
    /*background-color: #2e6581;*/
    background: #3BA0D5;
    background: linear-gradient(45deg, rgba(59, 160, 213, 0.7) 0%, rgba(0, 255, 153, 0.7) 100%);
    /*box-shadow: inset 0 -3px #3ba0d5;*/
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces .taskbar-window {
    padding-left: 4px;
    padding-right: 2px;
}

#taskbar button {
    border-radius: 0px;
}

#taskbar button.active {
    background-color: #2e6581;
    box-shadow: inset 0 -3px #3ba0d5;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#scratchpad,
#mpd {
    padding: 0 5px;
    color: #ffffff;
}

#idle_inhibitor,
#power-profiles-daemon {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 10px;
}

label:focus {
    background-color: #000000;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#custom-power { 
    padding-right: 8px;
}
