window {
    margin: 5px;
    border: 2px solid #60a5fa;
    /*border-radius: 8px;*/
    background-color: #1d1f22;
    font-family: "SF Pro Text";
    font-size: 16px;
}

#outer-box {
    margin: 10px;
}

#input {
    margin: 5px;
    border: none;
    color: #ffffff;
    background-color: #303030;
    border-radius: 0px;
}

#inner-box {
    margin: 5px;
}

#entry:selected {
    background-color: #303030;
    border-radius: 0px;
}

#text:selected {
    color: #60a5fa;
    font-weight: bold;
}
