window {
    margin: 5px;
    border: 2px solid #60a5fa;
    border-radius: 6px;
    background-color: #100f0f;
    font-family: "SF Pro Text", "Fira Code Nerd Font";
    font-size: 16px;
}

#outer-box {
    margin: 10px;
}

#input {
    margin: 5px;
    border: none;
    color: #ffffff;
    background-color: #201f1e;
    border-radius: 0px;
}

#inner-box {
    margin: 5px;
}

#entry:selected {
    background-color: #201f1e;
    border-radius: 0px;
}

#text:selected {
    color: #60a5fa;
    font-weight: bold;
}


#img {
    min-width: 22px;
    min-height: 22px;
    margin-right: 16px;
}
