window {
    background-color: #1e1e1e;
    font-family: "SF Pro Text";
    font-size: 16px;
    color: #cdd6f4;
    border: 2px solid #60a5fa;
    /*border-radius: 8px;*/
}

#outer-box {
    margin: 0px;
}

#inner-box {
    padding: 5px;
    margin: 5px;
}

button {
    background: none;
    border: none;
    box-shadow: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    border-radius: 0px;
}

button image,
button:hover image,
button:focus image,
button:active image {
    color: white;
    -gtk-icon-style: symbolic;
}

button:hover {
    background-color: #303030;
}
